@model IEnumerable<MhrsWeb.Command>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Yeni Ekle +", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Yönetici Adı
        </th>
        <th>İşlemler</th>
    </tr>

    @{
        if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Güncelle", "Edit", new { Id = item.Id, SeoText=MhrsWeb.Helper.LinkExtension.SeoReplace(item.Name) }) |
                        @Html.ActionLink("Sil", "Delete", new { Id = item.Id })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">
                    Kayıtlı Yönetici Bulunamadı..
                </td>
            </tr>
        }

    }

</table>