
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<form action="@Url.Action("ChangePassword","Home")" method="post" enctype="multipart/form-data">


    <div class="form-group">
        <input type="password" placeholder="Eski Şifreyi Girin" name="Password" class="form-control col-md-7 col-xs-12">
        <input type="password" placeholder="Yeni Şifreyi Girin" name="NewPassword" class="form-control col-md-7 col-xs-12">
        <input type="password" placeholder="Yeni Şifreyi Girin (TEKRAR)" name="NewPassword2" class="form-control col-md-7 col-xs-12">
    </div>
    <div class="form-group pull-right">
        <a href="@Url.Action("Index","Home")" class="btn btn-primary">İPTAL</a>
        <input type="submit" class="btn btn-success" value="DEĞİŞTİR" />
    </div>


</form>