
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Hello World</h1>
    <hr /> 
    <div>
        <!-- MVC'de HTML içerisine C# kodları [at(bir tane ama hata veriyor diye 2 tane yaptık.)]@@ ile (Razor) yazılır.
            WebForms'ta HTML içerisine C# kodları ASP:NET Nuggets (<% %>) ile yazılır.
        -->
        @DateTime.Now
    </div>
</body>
</html>
